<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Desharp" version="1.2.12" targetFramework="net461" />
  <package id="fm.Extensions.HttpClient" version="2.0.0" targetFramework="net461" />
  <package id="fm.Extensions.Logging" version="3.0.0" targetFramework="net461" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net461" />
  <package id="NHibernate.DataAnnotations" version="3.3.3.4001" targetFramework="net461" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net461" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net461" />
</packages>